@model List<ReviewViewModel>

@{
    var index = 1;
    var reviewItem = Model.FirstOrDefault();
}

<form method="post">
    <input type="hidden" asp-for="@User.Identity.Name" />
    <div class="row">
        <div class="col-7">
            <div class="сol text-center">
                <h4>Отзывы о продукте @reviewItem.ProductName</h4>
            </div>          
            <div class="сol text-center">
                <a class="btn btn-outline-secondary" role="button" style="color:brown;margin-bottom:5px;"
                   asp-area=""
                   asp-controller="Review"
                   asp-action="Add"
                   asp-route-productId="@reviewItem.ProductId"
                   asp-route-userLogin="@User.Identity.Name"><h6>Добавить новый отзыв</h6></a>
            </div>
            <div class="table">
                <table class="text-center">
                    <tr class="head">
                        <th scope="col"><p style="text-align:center"><b>№</b></p></th>
                        <th scope="col"><p style="text-align: center"><b>Пользователь</b></p></th>
                        <th scope="col"><p style="text-align: center"><b>Дата отзыва</b></p></th>                       
                        <th scope="col"><p style="text-align: center"><b>Отзыв</b></p></th>
                    </tr>
                    @foreach (var review in Model)
                    {
                        <tr class="review">
                            <th scope="row" style="text-align:center;  margin-right:50px">@index</th>
                            <th scope="row" style="text-align:center; margin-right:50px">@User.Identity.Name</th>
                            <th scope="row" style="text-align:center;  margin-right:50px">@review.CreateDate</th>                            
                            <th scope="row" style="text-align:center;  margin-right:50px">@review.Text</th>
                        </tr>
                        index++;
                    }
                </table>
            </div>
        </div>
    </div>
</form>




<!-- service_style -->
<style>
    body {
        font-family: Cambria,Verdana,sans-serif;
        font-size: 90%;
        color: black;
        background-color: #f8f8f8;
    }

    table {
        border-spacing: 0px
    }

    th, td {
        padding: 5px;
        border-spacing: 15px;
    }

    td {
        border-style: solid;
        border-spacing: 20px;
    }

        td a {
            border-spacing: 0px
        }

</style>

