@model List<OrderViewModel>

<div class="сol text-center">
    <h2>Список заказов</h2>
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="my-4" style="margin-right: 100px;">
            @await Html.PartialAsync("AdminLeftMenu")
        </div>
    </div>

    @if (Model == null || Model.Count == 0)
    {
        <div class="сol">
            <div><h1>Заказов пока нет!</h1></div>
        </div>
    }
    else
    {
        <div class="col-7">
            <form method="post">
                <div class="table">
                    <table class="text-center">
                        <tr class="head">
                            <th scope="col"><p style="align-content: center; width: 50px"><b>№</b></p></th>
                            <th scope="col"><p style="align-content: center; width: 150px"><b>Сумма</b></p></th>
                            <th scope="col"><p style="align-content: center; width: 150px"><b>Статус</b></p></th>
                            <th scope="col"><p style="align-content: center; width: 150px"><b>Пользователь(логин)</b></p></th>
                            <th scope="col"><p style="align-content: center; width: 150px"><b>Дата</b></p></th>
                            <th scope="col"><p style="align-content: center; width: 150px"><b>Время</b></p></th>
                        </tr>
                        @foreach (var order in Model)
                        {
                            <tr class="product">
                                <td scope="row" style="height:10px; width: 30px">@order.OrderNumber</td>
                                <td>
                                    <a style="color: blueviolet"
                                       asp-area="Admin"
                                       asp-controller="OrderManagment"
                                       asp-action="order"
                                       asp-route-orderId="@order.OrderId">
                                        @order.TotalCost &#8381
                                    </a>
                                </td>
                                <td>
                                    <a style="color: crimson"
                                       asp-area="Admin"
                                       asp-controller="OrderManagment"
                                       asp-action="order"
                                       asp-route-orderId="@order.OrderId">
                                        @EnumHelper.GetDisplayName(order.Status)
                                    </a>
                                </td>
                                <td>
                                    <a style="color: darkgreen"
                                       asp-area="Admin"
                                       asp-controller="OrderManagment"
                                       asp-action="order"
                                       asp-route-orderId="@order.OrderId">
                                        @order.Email
                                    </a>
                                </td>
                                <td>
                                    <a style="color: black"
                                       asp-area="Admin"
                                       asp-controller="OrderManagment"
                                       asp-action="order"
                                       asp-route-orderId="@order.OrderId">
                                        @order.CreatedDateTime.Day.ToString("00").@order.CreatedDateTime.Month.ToString("00").@order.CreatedDateTime.Year.ToString("0000")
                                    </a>
                                </td>
                                <td>
                                    <a style="color: black"
                                       asp-area="Admin"
                                       asp-controller="OrderManagment"
                                       asp-action="order"
                                       asp-route-orderId="@order.OrderId">
                                        @order.CreatedDateTime.Hour.ToString("00"):@order.CreatedDateTime.Minute.ToString("00")
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </form>
        </div>
    }
</div>




<!-- service_style -->
<style>
    body {
        font-family: Cambria,Verdana,sans-serif;
        font-size: 90%;
        color: black;
        background-color: #f8f8f8;
    }

    table {
        border-spacing: 0px
    }

    th, td {
        padding: 5px;
        border-spacing: 15px;
    }

    td {
        border-style: solid;
        border-spacing: 20px;
    }

        td a {
            border-spacing: 0px
        }

</style>
