@model UserVM

@{
    ViewData["Title"] = "Форма администратора";
}

<form method="post">
    <div class="row">
        <div class="col-lg-3">
            <div class="my-4" style="margin-right: 100px;">
                @await Html.PartialAsync("AdminLeftMenu")
            </div>
        </div>
        <input type="hidden" name="userId" value="@Model.UserId" />
        <div class="col-6">                                
            <div><b>Email логин:</b></div>
            <h6 class="card-text" style="color : rebeccapurple"><b>@Model.Login</b></h6>
            <div><b>Телефон:</b></div>
            <h6 class="card-text" style="color : rebeccapurple"><b>@Model.PhoneNumber</b></h6>
            <div><b>Текущие права доступа:</b></div>
            <h6 class="card-text" style="color : rebeccapurple"><b>
                    @await Component.InvokeAsync("Role", @Model.UserId)
            </b></h6>
            <div class="col-3">
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Действие
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                               asp-area="Admin"
                               asp-controller="UserManagment"
                               asp-action="EditPassword"
                               asp-route-userId="@Model.UserId">Смена пароля</a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               asp-area="Admin"
                               asp-controller="UserManagment"
                               asp-action="Edit"
                               asp-route-userId="@Model.UserId">Редактирование данных</a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               asp-area="Admin"
                               asp-controller="UserManagment"
                               asp-action="EditRights"
                               asp-route-userId="@Model.UserId">Права доступа</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li class="content">
                            <button type="button" class="btn-outline-danger" data-bs-toggle="modal" data-bs-target="#Returned_@Model.UserId">Удалить пользователя</button>
                        </li>
                    </ul>
                    <div class="modal fade" id="Returned_@Model.UserId" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalLongTitle">Удаление пользователя</h5>
                                    <button type="button" data-id="?=$contact['UserId']?>" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Вы уверены, что хотите удалить пользователя @Model.Login?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                                    <a class="btn btn-primary" type="submit"
                                       asp-area="Admin"
                                       asp-controller="UserManagment"
                                       asp-action="Delete"
                                       asp-route-userId="@Model.UserId">Удалить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<!-- service_style -->
<style>
    body {
        font-family: Cambria,Verdana,sans-serif;
        font-size: 90%;
        color: #666;
        background-color: #f8f8f8;
    }

    table {
        border-spacing: 0px
    }

    th, td {
        border-width: 3px;
        border-style: solid;
        padding: 5px;
        border-spacing: 15px;
    }

    td {
        border-width: 2px;
        border-style: solid;
        border-spacing: 20px;
    }

        td a {
            border-spacing: 0px
        }

    .content{
        position: center;    
        margin:1px 1px 1px 12px;
    }
</style>  